<div class="row description">
  <div class="col-md-12">
    <h2>How it works</h2>
    <p>
      Enter a URL (your page) and a keyword phrase (to query Google) and an engine
      ccTLD (e.g. .com, .co.uk, .ca, etc). MonkeyLearn grabs the results from page
      one of Google (top 10 results), extracts out the relevant keywords from each
      page, and then shows a comparison of those vs. the keywords on your page.
    </p>

    <h2>Under the hood</h2>

    <p>
      We use MonkeyLearn to empower this Keyword Comparison Extractor with machine
      learning:
    </p>

    <ul>
      <li>
        We use the <a href="https://app.monkeylearn.com/extraction/extractors/ex_RK5ApHnN/">HTML
        to text extractor</a> to extract the relevant text from the HTML of each
        page. This machine learning algorithm can be used to detect and remove the
        surplus "clutter" (boilerplate, templates) around the main textual content
        of a web page.
      </li>

      <li>
        We use the <a href="https://app.monkeylearn.com/extraction/extractors/ex_y7BPYzNG/">Keyword
        Extractor</a> to identify the relevant keywords from text in
        English. Keywords can be compounded by one or more words and are defined
        as the important topics in the content.
      </li>
    </ul>

    <p>
      You can try these MonkeyLearn public modules for free, you just need to
      <a href="https://app.monkeylearn.com/accounts/register/">signup</a> or <a href="https://app.monkeylearn.com/accounts/login/">login</a> to
      MonkeyLearn.
    </p>

    <h2>Learn more about MonkeyLearn</h2>

    <p>
      MonkeyLearn is a machine learning platform where developers can get relevant
      data from text using machine learning. Learn more <a href="http://monkeylearn.com/">here</a>.
    </p>

    <h2>Help us Improve this Tool</h2>

    <p>
      You can provide feedback <a href="https://docs.google.com/spreadsheets/u/2/d/1yVA95NN2HUXksZYBxc7xWuRDFqE3ux4RST9TJvzv9Ao/edit?usp=sharing">here</a>.
    </p>
  </div>
</div>
